/* Cut all pading and margin */
*{
    padding: 0;
    margin: 0;
}

.main-body {
    background-image: url("/static/img/Main%20Page%20-%20Trial%20Page%20(1).png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh; 
    width: 100%;
}




/* -------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------- */
            /*                                         HEADER                                        */


/* Header Styling */
.header {
    padding: 15px 40px;
    background: #131722;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}



/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;

}



/* Logo */
.logo-container {
    flex: 1;
}
.logo {
    height: 46px;
}



/* Input qismi */
.input-wrapper {
    flex: 2;
    display: flex;
    justify-content: center;
}
.input-container {
    display: flex;
    align-items: center;
    background: #1C1F2E;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 102, 255, 0.5);
}
.url-input {
    flex: 1;
    padding: 8px;
    background: transparent;
    border: none;
    color: #C9CED6;
    outline: none;
}
.shorten-btn {
    background: #0066ff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}
.shorten-btn:hover {
    background: #004bcc;
}




/* SELECT LANG: */
.language-select {
    appearance: none;
    background-color: #2b63ff;
    border: 2px solid #404040;
    color: white;
    border-radius: 8px;
    padding: 13px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    border-radius: 70px;
    margin-left: 15px;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);

}

.language-select:hover {
    background-color: #ffecec;
    color: black;
}

.language-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.language-select {
    width: 140px;
    max-width: 100%;
}


/* Profile qismi */
.profile-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.profile-btn{
    display: flex;
    align-items: center;
    background: #001f5a;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 17, 255, 0.3);


}
.profile-btn:hover {
    background-color: #333333;
    color: #007bff;
}

/* Drop-down menyu */
.profile-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #0b154a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 180px;
    z-index: 1000;
    margin-top: 18px; /* Tugmadan biroz pastroqqa tushiramiz */
    overflow: hidden;
}

.profile-dropdown a, .profile-dropdown button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
}
.profile-dropdown a:hover, .profile-dropdown button:hover {
    background: #2A2E3F;
}

/* Drop-down faollashtirish */
.profile-container.active .profile-dropdown {
    display: block;
}


.logout-text{
    font-weight: bold;
}




/* Welcome User text */
.welcome-tooltip {
    position: absolute;
    top: -40px; /* Profile tugmasidan yuqoriga joylashtirish */
    right: 0;
    background: #00163f;
    color: white;
    width: 150px;  /* Kengligi */
    height: 50px;  /* Balandligi */
    padding: 10px 15px;
    border-radius: 50px; /* Tugma bilan bir xil radius */
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
    margin-right: 5px;
}


.welcome-tooltip:hover {
    background-color: #333333;
    color: #007bff;
}

.username-txt {
    max-width: 60px; /* Maksimal kenglikni sozlash */
    white-space: nowrap; /* Matnni yangi qatordan chiqishiga yo‘l qo‘ymaslik */
    overflow: hidden; /* Ortiqcha matnni yashirish */
    text-overflow: ellipsis; /* Matn uzun bo‘lsa, uch nuqta qo‘yish */
    display: inline-block; /* Inline element sifatida ishlash */
    vertical-align: middle; /* Elementni o‘rta markazda ushlab turish */
}

/* .r-icon {
    color: rgb(255, 255, 255);
} */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------- */
            /* MAIN TABLE */

/* Main Table */
.main-table {
    margin-top: 110px;
    
}


.history-title {
    color: white;
    font-weight: bold; /* bold uchun to‘g‘ri yozilishi */
    font-size: 20px; /* Kattalashtirish uchun */
    margin-bottom: 15px; /* Jadvaldan ajratish */
    text-align: left; /* Chapga hizalanadi */
    padding-left: 10px; /* Ichkariga joylash */
}


/* Table Container */
.table-container {
    width: 100%;
    max-height: 400px; /* Kerakli balandlik */
    border-radius: 20px;
    overflow-y: auto;
    position: relative;
}


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}


/* Thead and Tbody */
thead {
    position: sticky;
    top: 0;
    background-color: #0f172a; /* Jadval sarlavhasi orqa foni */
    z-index: 10;
}

tbody {
    background-color: #1e293b; /* Tana qismiga fon rangi */
}


th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #334155;
}

th {
    background-color: #0f172a;
    color: #94a3b8;
    font-weight: bold;
}
th:hover {
    background-color: #122038;
}


tbody tr:hover {
    background-color: #334155 !important;
}

tr:hover {
    background-color: #122038;
}
.click-count {
    color: white !important;
}

.org-link{
    text-decoration: none; 
    display: inline-block;  
    max-width: 250px;  /* Link maksimal uzunligi */
    white-space: nowrap; /* Bitta qatorda qolishi */
    overflow: hidden; /* Ortiqcha qismi yashirinadi */
    text-overflow: ellipsis; /* ... qo‘shiladi */
    vertical-align: middle;
}

.short-link{
    text-decoration: none; 

    
}

.short-link, .org-link a {
    color: #3b82f6;
    text-decoration: none;
}

.short-link:hover, .org-link a:hover {
    text-decoration: underline;
}

.copy-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.copy-btn i {
    font-size: 16px;
}

.qr-img {
    width: 40px;
    height: 40px;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.active {
    color: #059669;
    font-weight: bold;
}

.inactive {
    color: #b91c1c;
    font-weight: bold;
}

.icon {
    font-size: 18px;
    margin-right: 5px;
}

.head-text {
    color: rgb(197, 196, 196);
}

.body-text {
    color: rgb(197, 196, 196);
}


/* Action button styles */
.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
    color: #94a3b8;
}

.action-btn.edit {
    color: #3b82f6;
}

.action-btn.delete {
    color: #b91c1c;
}

.action-btn:hover {
    opacity: 0.8;
}

.qr-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;  /* Oq fon */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Aniq ko‘rinadigan soyalar */
    z-index: 1000;
}

.qr-modal img {
    max-width: 250px; /* QR kodning aniq o‘lchami */
    height: auto;
}

/* Foydalanuvchi modal fon tashqarisiga bossayam yopilishi uchun */
.qr-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Qoraygan fon */
    z-index: 999;
}



                                /* Table Actions: */
/* Update action: */
.custom-modal-bg {
    background-color: #192841 !important; 
    color: rgb(255, 255, 255) !important;  
    border-radius: 8px !important;
    border: 2px solid #34495E; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-btn {
    background-color: rgb(5, 44, 88) !important;  
    border-color: red !important;
    color: rgb(255, 255, 255) !important;           
    border: 1px solid #ccc !important;   
    padding: 10px 20px !important;      
    font-size: 16px !important;         
    border-radius: 5px !important;      
    transition: 0.3s;                   
}
.custom-btn:hover {
    background-color: #474e5b !important; 
}






/* Delete action: */
.swal-custom-popup {
    background-color: #192841 !important; 
    color: #fff !important;
    border-radius: 10px;
    border: 2px solid #34495E; 
}


.swal-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}


.swal-text {
    font-size: 16px;
    color: #dcdcdc;
}


.swal-confirm-btn {
    background-color: #ff0800 !important; 
    color: white !important;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
}


.swal-cancel-btn {
    background-color: #006067 !important; 
    color: white !important;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
}


.swal-confirm-btn:hover {
    background-color: #9a9a9a !important; 
}

.swal-cancel-btn:hover {
    background-color: #7f8c8d !important; 
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* Modal umumiy style */
.swal2-popup {
    border-radius: 10px;
    background-color: #192841;
    color: #ffffff;
    border: 2px solid rgb(106, 103, 103);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

/* Modal icon (Warning) */
.swal2-icon.swal2-warning {
    border-color: #ff9800;
    color: #ff9800;
}

/* Modal title */
.swal2-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

/* Modal text */
.swal2-content {
    font-size: 16px;
    color: #ddd;
}

/* Confirm (Yes) button */
.swal2-confirm {
    background: rgb(5, 44, 88) !important;
    color: white !important;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3s;
}

.swal2-confirm:hover {
    background: #625f6a !important;
}

/* Cancel button */
.swal2-cancel {
    background: #555 !important;
    color: #ffffff !important;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3s;
}

.swal2-cancel:hover {
    background: #333 !important;
}

/* Loading text */
.swal2-title:has(.swal2-loading) {
    color: #005bee !important;
    font-size: 18px;
}





            /* MAIN FILTER */
/* Filter tugmasi */
.filter-btn {
    padding: 10px 20px;
    background:  #2b63ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: bold;
    position: absolute;
    right: 125px;
    top: 200px;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);

}

.filter-btn:hover {
    background: #0056b3;
}




/* Filter modal oynasi */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal tarkibi */
.modal-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background-color: #13132f;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-left: 500px;
    margin-top: 37px;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    background-color: #192841;
    border: 2px solid rgb(106, 103, 103);


}

.filter-text{
    margin-bottom: 30px;
}

/* Yopish tugmasi */
.close {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 44px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.close:hover {
    color: #FF6363;
}

/* Input va Select styling */
.modal-contents input,
.modal-contents select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #2C3E50;
    color: white;
    font-size: 16px;
}

.modal-contents input:focus,
.modal-contents select:focus {
    outline: none;
    border-color: #4A90E2;
}

/* Apply Filter tugmasi */
#apply-filter {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #4A90E2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 30px;
}

#apply-filter:hover {
    background: #fdfdfd;
    color: black;
}

/* Label styling */
.modal-contents label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #B0BEC5;
}


.clear-btn{
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #bb0000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.clear-btn:hover{
    background-color: #484e59;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */



                            /* user's table style: */

/* Pagination: */
.dataTables_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.dataTables_paginate a {
    padding: 10px 16px;
    border-radius: 6px;
    background: #2d2d3a;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #4a4a6a;
    transition: all 0.3s ease-in-out;
}

.dataTables_paginate a:hover {
    background: #4a4a6a;
    border-color: #ff9800;
    color: #ff9800;
}

.dataTables_paginate .current {
    background: #ff9800;
    color: black;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid #ff9800;
}

.dataTables_paginate .disabled {
    color: #666;
    cursor: not-allowed;
    background: #2e2e3e;
    border: 1px solid #444;
    opacity: 0.6;
}






/* Scroll: */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #051452; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #b9babb; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666; 
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */






/* Hiden modal screen: */
.hidden {
    display: none;
}

#short-url-box {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px;
    display: none; /* Boshida yashirin bo‘ladi */
}

.short-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #2a2a2a;
    border-radius: 5px;
}

#copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */