<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="title">Link Shortener</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="main-body">

    <!-- HEADER -->
    <header class="header">
        <nav class="navbar navbar-dark navbar-container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <h1 class="main-logo">
                    <img src="/static/img/Linkly.svg" alt="Linkly Logo">
                    <sup class="r-icon">®</sup>
                </h1>
            </div>
            <div class="user-btns">
                <select id="language-selector" class="language-select">
                    <option value="en">English</option>
                    <option value="uz">Uzbek</option>
                    <option value="ru">Russian</option>
                </select>
                <a href="/templates/login.html" class="btn-login">
                    <span data-i18n="base.login">Login</span> 
                </a>
                <a href="/templates/register.html" class="btn-register"> 
                    <span data-i18n="base.register">Register Now</span> 
                </a>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <section class="main-content">
        <div class="container">
            <h1 class="text-center main-text" data-i18n="base.main_title">Shorten Your Loooong Links :)</h1>
            <div class="center-container">
                <p class="p-text main-explain" data-i18n="base.description">Linkly is an efficient and easy-to-use URL shortening service that streamlines your online experience.</p>
            </div>
            <div class="input-wrapper input-group">
                <div class="input-container">
                    <span class="icon">🔗</span>
                    <input type="text" class="url-input" id="url-input" data-i18n-placeholder="base.input_placeholder">
                    <button class="shorten-btn" data-i18n="base.shorten">Shorten Now!</button>
                </div>
            </div>
            <p class="limit-message">
                <span data-i18n="base.limit_message">You can't get much access here!</span>  
                <a href="/templates/register.html" class="register-btn" data-i18n="base.register">Register</a> 
                <span data-i18n="base.more_access">to get more access.</span>
            </p>
        </div>
    </section>
    

    <!-- MAIN TABLE -->
    <section class="container mt-5 main-table">
        <div class="table-container">
            <table id="url-table">
                <thead>
                    <tr>
                        <th class="head-text" data-i18n="base.data_shortlink">Short Link</th>
                        <th class="head-text" data-i18n="base.data_originallink">Original Link</th>
                        <th class="head-text" data-i18n="base.data_status">Status</th>
                        <th class="head-text" data-i18n="base.data_clicks">Clicks</th>
                        <th class="head-text" data-i18n="base.data_qrcode">QR Code</th>
                        <th class="head-text" data-i18n="base.data_date">Date</th>
                    </tr>
                </thead>
                <tbody id="url-table-body">
                    <!-- AJAX orqali yuklanadi -->
                </tbody>
                <tfoot>
                    <tr class="register-row">
                        <td colspan="8" class="text-center">
                            <span data-i18n="base.register_message">Register Now</span> 
                            <a href="register.html" class="register-link" data-i18n="register">Register</a>
                            <span data-i18n="enjoy_unlimited">to enjoy Unlimited usage.</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    


    <!-- jQuery & DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/translate.js"></script>

</body>
</html>