<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="main-body">

    <!-- HEADER -->
    <header class="header">
        <nav class="navbar navbar-dark navbar-container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <h1 class="main-logo">
                    <img src="/static/img/Linkly.svg" alt="Linkly Logo">
                    <sup class="r-icon">®</sup>
                </h1>
            </div>
            <div class="user-btns">
                <a href="/templates/login.html" class="btn-login">
                    <span class="login-text">Login</span> 
                    <i class="fas fa-sign-in-alt login-icon"></i>
                </a>
                <a href="/templates/register.html" class="btn-register"> 
                    <span class="register-text">Register Now</span> 
                </a>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <section class="main-content">
        <div class="container">
            <h1 class="text-center main-text">Shorten Your Loooong Links :)</h1>
            <div class="center-container">
                <p class="p-text main-explain">Linkly is an efficient and easy-to-use URL shortening service that streamlines your online experience.</p>
            </div>
            <div class="input-wrapper input-group">
                <div class="input-container">
                    <span class="icon">🔗</span>
                    <input type="text" class="url-input" placeholder="Enter the link here">
                    <button class="shorten-btn">Shorten Now !</button>
                </div>
            </div>
            <p class="limit-message">
                You can only shorten URLs 5 times!  
                <a href="/templates/register.html" class="register-btn">Register</a> to get more access.
            </p>
        </div>
    </section>

    <!-- MAIN TABLE -->
    <section class="container mt-5 main-table">
        <div class="table-container">
            <table id="url-table">
                <thead>
                    <tr>
                        <th class="head-text">Short Link</th>
                        <th class="head-text">Original Link</th>
                        <th class="head-text">QR Code</th>
                        <th class="head-text">Clicks</th>
                        <th class="head-text">Status</th>
                        <th class="head-text">Date</th>
                    </tr>
                </thead>
                <tbody id="url-table-body">
                    <!-- AJAX orqali yuklanadi -->
                </tbody>
            </table>
        </div>
    </section>


    <!-- jQuery & DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/base.js"></script>

</body>
</html>
