<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>

<!-- Form -->
<div class="form">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your account!</div>

    <!-- Username -->
    <div class="input-container ic1">
        <input placeholder="" type="text" class="input" id="username">
        <div class="cut"></div>
        <label class="iLabel" for="username">Username</label>
    </div>


    <!-- Email -->
    <div class="input-container ic2">
        <input placeholder="" type="email" class="input" id="email">
        <div class="cut cut-short"></div>
        <label class="iLabel" for="email">Email</label>
    </div>

    <!-- First Name -->
    <div class="input-container ic1">
        <input placeholder="" type="text" class="input" id="firstname">
        <div class="cut"></div>
        <label class="iLabel" for="firstname">First name</label>
    </div>

    <!-- Last Name -->
    <div class="input-container ic2">
        <input placeholder="" type="text" class="input" id="lastname">
        <div class="cut"></div>
        <label class="iLabel" for="lastname">Last name</label>
    </div>



    <!-- Password -->
    <div class="input-container ic2">
        <input placeholder="" type="password" class="input" id="password">
        <i class="fas fa-eye-slash eye-icon" id="togglePassword1"></i>
        <div class="cut cut-short"></div>
        <label class="iLabel" for="password">Password</label>
    </div>

    <!-- Confirm Password -->
    <div class="input-container ic2">
        <input placeholder="" type="password" class="input" id="password2">
        <i class="fas fa-eye-slash eye-icon" id="togglePassword2"></i>
        <div class="cut cut-short"></div>
        <label class="iLabel" for="password2">Confirm Password</label>
    </div>

    <!-- Submit Button -->
    <button class="submit" id="register-btn">Submit</button>

    <!-- Already have an account? -->
    <div class="login-link">
        <span class="foot-ps">Already have an account?</span>
        <a href="login.html" class="login-btn">Login</a>
    </div>
</div>



<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/register.js"></script>


</body>
</html>
